/* -----reset styles----- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class], ol[class] {
  padding: 0;
}

body, h1, h2, h3, h4, p, ul/*[class]*/, ol[class], li,
figure, figcaption, blockquote, dl, dd {
  margin: 0;
}

ul[class], ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input, button, textarea, select {
  font: inherit;
}
/* -----reset styles----- */

/* roboto-condensed-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local(''),
      url('./assets/fonts/roboto-condensed-v24-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('./assets/fonts/roboto-condensed-v24-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-condensed-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: local(''),
      url('./assets/fonts/roboto-condensed-v24-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('./assets/fonts/roboto-condensed-v24-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  font-family: Roboto Condensed;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.game-field {
  min-height: 320px;
  height: 70vh;
  min-width: 320px;
  width: 70vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  gap: 0.5vh;

  background-color: darkslategray;
  border: 4px solid darkslategray;

  background-color: sandybrown;
}

.game-field div {
  font-size: 30px;
  border: 2px solid rgb(135, 143, 82);
  align-self: stretch;
  justify-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.i2 { background-color: greenyellow;}
.i4 { background-color: green;}
.i8 {background-color: deepskyblue;}
.i16 {background-color: blue;}
.i32 {background-color: blueviolet;}
.i64 {background-color: violet;}
.i128 {background-color:brown}
.i256 {background-color: red;}
.i512 {background-color: orangered;}
.i1024 {background-color: orange;}
.i2048 {background-color: yellow;}
.i4096 {background-color: gold;}