/* -----reset styles----- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class], ol[class] {
  padding: 0;
}

body, h1, h2, h3, h4, p, ul/*[class]*/, ol[class], li,
figure, figcaption, blockquote, dl, dd {
  margin: 0;
}

ul[class], ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input, button, textarea, select {
  font: inherit;
}
/* -----reset styles----- */

/* roboto-condensed-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local(''),
      url('./assets/fonts/roboto-condensed-v24-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('./assets/fonts/roboto-condensed-v24-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-condensed-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: local(''),
      url('./assets/fonts/roboto-condensed-v24-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('./assets/fonts/roboto-condensed-v24-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  font-family: Roboto Condensed;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header-container {
  width: 100%;
  max-height: 60px;
  min-height: 40px;
  background-color: black;
  color: azure;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header-center {
  transition-delay: 10s;
  transition: 2s;
}

.header-right {
  
}
.audio {
  height: 40px;
  width: 40px;
  background-image: url('./assets/icons/audio-speaker-on.svg');
  filter: invert(1);
  transition: 1s;
}
.audio.mute {
  background-image: url('./assets/icons/audio-speaker-off.svg');
  transition: 1s;
}

.main {
  height: 100%;
}

.score-section {
  width: 70vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.game-container {
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.game-field {
  min-height: 320px;
  height: 70vh;
  min-width: 320px;
  width: 70vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  gap: 0.5vh;

  background-color: darkslategray;
  border: 4px solid darkslategray;

  background-color: sandybrown;
  transition: 300ms;
}

@keyframes throw-ArrowUp {
  0% { transform: rotateX(0deg) translateY(0px);}
  40% { transform:  perspective(200px) rotateX(2deg) translateY(-20px);}
  100%  {transform: rotateX(0deg) translateY(0px);}
}
@keyframes throw-ArrowDown {
  0% { transform: rotateX(0deg) translateY(0px);}
  40% { transform: perspective(200px) rotateX(-2deg) translateY(20px);}
  100%  {transform: rotateX(0deg) translateY(0px);}
}
@keyframes throw-ArrowLeft {
  0% { transform: rotateY(0deg) translateX(0px);}
  40% { transform: perspective(200px) rotateY(-2deg) translateX(20px);}
  100%  {transform: rotateY(0deg) translateX(0px);}
}
@keyframes throw-ArrowRight {
  0% { transform: rotateY(0deg) translateX(0px);}
  40% { transform: perspective(200px) rotateY(2deg) translateX(-20px);}
  100%  {transform: rotateY(0deg) translateX(0px);}
}

.game-field div {
  font-size: 30px;
  border: 2px solid rgb(135, 143, 82);
  align-self: stretch;
  justify-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 8px 6px grey inset;
  
}

.description {
  width: 80%;
  text-align: center;
}

footer {
  width: 100%;
  max-height: 60px;
  min-height: 40px;
  background-color: black;
  color: azure;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.i2 { background-color: greenyellow;}
.i4 { background-color: green;}
.i8 {background-color: deepskyblue;}
.i16 {background-color: blue;}
.i32 {background-color: blueviolet;}
.i64 {background-color: violet;}
.i128 {background-color:brown}
.i256 {background-color: red;}
.i512 {background-color: orangered;}
.i1024 {background-color: orange;}
.i2048 {background-color: yellow;}
.i4096 {background-color: gold;}

