/* -----reset styles----- */
*,
*::before,
*::after {
box-sizing: border-box;
}

ul[class], ol[class] {
padding: 0;
}

body, h1, h2, h3, h4, p, ul/*[class]*/, ol[class], li,
figure, figcaption, blockquote, dl, dd {
margin: 0;
}

ul[class], ol[class] {
list-style: none;
}

a:not([class]) {
text-decoration-skip-ink: auto;
}

img {
max-width: 100%;
display: block;
}

article > * + * {
margin-top: 1em;
}

input, button, textarea, select {
font: inherit;
}
/* -----reset styles----- */

  /* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local(''),
      url('../assets/fonts/poppins-v19-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../assets/fonts/poppins-v19-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
  /* poppins-700 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: local(''),
      url('../assets/fonts/poppins-v19-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../assets/fonts/poppins-v19-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  font-family: Poppins;
  font-size: 30px;
  color: goldenrod;
  background-color: black;
}

.container {
  width: 350px;
  height: 500px;
  border: 2px solid goldenrod;
  border-radius: 10px;
  margin: 0 auto;
}

.header {
  height: 360px;
/*  border: 1px solid darkorange; */
  display: flex;
  flex-direction: column;

}

.controls {
  height: 105px;
  border-top: 2px solid goldenrod;
  border-bottom: 2px solid goldenrod;
  display: flex;
  flex-direction: column;

}

.buttons {
  display: flex;
  flex-direction: row;
  height: 75px;
  justify-content: space-around;
  align-items: center;
  padding: 5px 40px 0px 40px;

}

.prev-btn {
  width: 40px;
  height: 40px;
  border: 2px solid goldenrod;
  border-radius: 50%;

}

.play-btn {
  width: 65px;
  height: 65px;
  border: 2px solid goldenrod;
  border-radius: 50%;
}

.next-btn {
  width: 40px;
  height: 40px;
  border: 2px solid goldenrod;
  border-radius: 50%;

}

.progress {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 15px;
  
}

.current-time {
  width: 45px;
  margin-left: 10px;
  border: 1px dotted lawngreen;

}

.song-time {
  width: 45px;
  margin-right: 10px;
  border: 1px dotted lawngreen;

}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  font-size: 10px;
}

.github {
  height: 30px;
  width: 30px;
  background-image: url(./assets/icons/github-icon.svg);
  border: 1px dotted lawngreen;

}



.shool {
  height: 30px;
  width: 30px;
  background-image: url(./assets/icons/logo-rs.svg);
  border: 1px dotted lawngreen;
  
}